<<<<<<< HEAD
/* Imported Roboto Font */
=======
// Imported Roboto Font
>>>>>>> eb397786b9e6943cfa2c48ff69de6a82fcb36d5a
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");


/* Intro.js Tooltip colors */

.walkthrough {
  color: blue;
  font-weight: bold;
  font-size: 15px;
}

<<<<<<< HEAD
/* Features Container */
=======
// Features Container
>>>>>>> eb397786b9e6943cfa2c48ff69de6a82fcb36d5a


.featuresContainer:hover {
  cursor: default;
  color: default;
}

#features {
  text-decoration: none !important;
}

#amenities {
  text-decoration: none;
}

.amenities_features:hover {
  cursor: default;
}

<<<<<<< HEAD
/* Available Units Section */
=======
// Available Units Section
>>>>>>> eb397786b9e6943cfa2c48ff69de6a82fcb36d5a

.amenities {
  font-size: 20px;
}

.unit1 {
  border: 3px solid #cd7f32;
}

.unit1:hover {
  border: 6px solid #cd7f32;
  translate: (0 -10px);
  transition: ease-in-out 800ms;
}

.unitOne {
  color: #cd7f32;
}

<<<<<<< HEAD

=======
>>>>>>> eb397786b9e6943cfa2c48ff69de6a82fcb36d5a
.unit2 {
  border: 3px solid #c0c0c0;
}

.unit2:hover {
  border: 6px solid #c0c0c0;
  translate: (0 -10px);
  transition: ease-in-out 800ms;
}

.unitTwo {
  color: #c0c0c0;
}

.unit3 {
  border: 3px solid #ffd700;
}

.unit3:hover {
  border: 6px solid #ffd700;
  translate: (0 -10px);
  transition: ease-in-out 800ms;
}

.unitThree {
  color: #ffd700;
}

.reCards {
  border-radius: 20px;
<<<<<<< HEAD
  height: 600px;
  padding: 2.5rem;
  object-fit: contain;
=======
  height: 400px;
  padding: 2.5rem;
>>>>>>> eb397786b9e6943cfa2c48ff69de6a82fcb36d5a
}

.reCards:hover {
  background-color: rgb(0, 0, 0, 0.7) !important;
  transition: 100ms;
  cursor: pointer;
}

<<<<<<< HEAD
/* Modal Section */
=======
// Modal Section
>>>>>>> eb397786b9e6943cfa2c48ff69de6a82fcb36d5a
.unit1Modal,
.unit2Modal,
.unit3Modal {
  display: none;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 2rem;
  border-radius: 10px;
  border: 3px solid white;
  transition: 1s;
}

.closeUnit1,
.closeUnit2,
.closeUnit3 {
  cursor: pointer;
}

.showTime {
  transition: all 2s ease-in-out;
}


<<<<<<< HEAD
/* Contact Section */
=======
// Contact Section 
>>>>>>> eb397786b9e6943cfa2c48ff69de6a82fcb36d5a

input[type="text"] {
  padding: 3px !important;
}
